<html>
<header>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px;
        }


        input , button{
            margin: 10px 0;
            border: none;
        }

        form {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 20px;
        }

        h1 {
            font-size: 72px;
            background: -webkit-linear-gradient(62deg,#FBAB7E, #F7CE68);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 20px;
        }

        h2 {
            font-size: 36px;
            font-weight: bold;
        }

        ul{
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: center;
        }

        ul h2 {
            margin-top: 50px;
        }

        li {
            list-style: none;
            margin: 10px 0;
            width: 400px;
            border-bottom: 2px solid #FBAB7E;
            border-left: 2px solid #FBAB7E;
            padding: 10px;
            border-radius: 5px;
        }

        .Cadastro{
            border: 1px solid #000;
        }

        .list{
            display: flex;
            justify-content: space-between;
            gap: 20px;
            align-items: center;
        }

        .campo_genero{
            width: 450px;
            height: 36px;
            font-size: 18px;
            padding: 0 0 0 10px;
            border-bottom: 1px solid grey;
            
        }

        .botao{
            width: 112px;
            height: 36px;
            font-size: 18px;
            background-color: #ffffff;
            color: black;
            border-bottom: 1px solid grey;
            cursor: pointer;
            border-radius: 5px;
            
            transition: 0.5s ease;
        }

        .botao:hover{
            background-color: #FBAB7E;
            color: white;
            border: 1px solid white;

        }

    </style>
</header>
<body>
    <div class="header">
        <h1>Gêneros dos filmes</h1>
        <form action="/genero/novo" method="POST">
            <input type="text" name="genero" class="campo_genero"/>
            <input type="submit" class="botao" value="Adicionar" />
        </form>
        <label>Filtrar: <input type="search" id="pesquisa" onkeyup="filtrar()" class="campo_genero"></label>
    </div>
    <h2>Lista de Generos</h2>
    <ul id="lista">
        {% for genero in generos %} {# "para cada genero em generos" #}
            <div class="list">
                <li> {{genero.titulo}} </li>
                <form action="/genero/delete" method="POST" > 
                    <input type="hidden" name="id" value="{{ genero.id }}"/> {#Estamos identificado o ID do input que vamos excluir#}
                    <input type="submit" class="botao" value="Remover"/>
                </form>
                <div class="form_edicao" id="form_edicao_{{genero.id}}" hidden>
                    <form action="/genero/editar" method="POST">
                        <input type="hidden" name="id" value="{{ genero.id }}"/>
                        <input type="text" name="genero" class="campo_genero"/>
                        <input type="submit" class="botao" value="editar"/>
                    </form>
                </div>
                <button onclick="test({{genero.id}})" class="botao botao_editar">Edite!</button>
            </div>
        {% endfor %}
    </ul>
</body>
<script>

    const lista = document.querySelector("#lista");
    const itens = lista.querySelectorAll("li");


    const test = (genero_id) => {
        let form = document.querySelector("#form_edicao_" + genero_id);
        form.hidden = !form.hidden
    }

    // função para filtrar e mostrar apenas os generos que contem a letra digitada
    const filtrar = () => {
        let pesquisa = document.querySelector("#pesquisa").value;

        for(let i = 0; i < itens.length; i++){
            let item = itens[i];
            let texto = item.textContent; 

            if(texto.toLowerCase().includes(pesquisa.toLowerCase())){
                item.parentNode.style.display = "flex";
            } else {
                item.parentNode.style.display = "none";
            }
        }
    }

</script>
