<html>
    <head>
        <title>Concorrente IMDB</title>
        {% block stylesheets %}
            <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet"/>
        {% endblock %}

    </head>
    <body>


        <div class="container_header">
            <h1>Melhores filmes de 2022</h1>
            <form action="/movie/new" method="POST" class="container_form">

                <input type="text" name="movie" class="text_field" placeholder="Digite o nome do filme">
                <select name="directorId" id="butttom" class="button button--transparent">
                    {% for director in directors%}
                        <option value={{director.id}}>{{director.name}}</option>
                    {% endfor %}
                </select>
                <select name="genreId" id="button" class="button button--transparent">
                    {% for genre in genres %}
                        <option value={{genre.id}}>{{genre.name}}</option>
                    {% endfor %}
                </select>
                <input type="submit" id="button" class="button button--transparent" value="Adicionar">
            </form>

            <label> 
                Filtrar: <input type="search" id="search_field" class="text_field" oninput="filtrar()"/>
            </label>
        </div>


        <div class="container_main">
            <h2>Lista de filmes</h2>
            <ul id="movies_list">    
                {% for movie in films %}  {# esta linha significa - para cada filme dentro de filmes, executaremos o codigo abaixo#}
                    
                    
                    <div class="item_movie"> 
                        <div class="movie_card">
                            <div class="movie">
                                <h3>Filme</h3>
                                <li class="filtravel"><span>{{movie.name}}</span></li>
                            </div>
                            <div class="movie">
                                <h3>Diretor</h3>
                                <li class="filtravel"><span>{{movie.director.name}}</span></li>       
                            </div>
                            <div class="movie">
                                <h3>Gênero</h3>
                                <li class="filtravel"><span>{{movie.genre.name}}</span></li>
                            </div>

                            <div class="movie">
                                {% set sumrating = 0 %}
                                {% for review in movie.reviews %}
                                {% set sumrating = sumrating + review.rating %}
                                {% endfor %}
                                {% set sumratingDivision = sumrating/movie.reviews|length %}
                                {% set average = sumratingDivision|number_format(1, '.', ',')%}
                                <h3>Média</h3>
                                <li class="filtravel">
                                    <span class="average">{{average}}</span>
                                </li>
                            </div>

                            <form action="/movie/delete" method="POST">
                                <input type="hidden" name="id" value="{{ movie.id }}"/>
                                <input type="submit" id="button" class="button button--remove" value="Remover"/>
                            </form>
                        </div>


                        <div class="reviews">
                        
                            <h3>Escreva uma crítica ao filme {{movie.name}}</h3>

                            <form action="/review/new" class="item_review" method="POST">
                                <input type="hidden" name="movie_id" value="{{ movie.id }}"/>
                                <textarea name="review" rows="4" cols="50" placeholder="Deixe sua nota de 0 a 5 e uma critica ao filme"></textarea>

                                <div class="rating_field">
                                    <label for="rating">Nota</label>
                                    <select name="rating">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>

                                <input type="submit" value="Enviar" id="button" class="button button--send"/>
                            </form>

                            <div class="display_review">
                            {% for review in movie.reviews %}
                                <h3>Crítica</h3>
                                <li>Nota: {{review.rating}}</li>
                                <li>{{review.comment}}</li>
                            {% endfor %}
                            </div>

                        </div>


                    </div>
                {% endfor %}
            </ul>
        </div>







    </body>
</html>
<script>

    //Vamos mapear todas as listas para que o filtro consiga procurar em todos os padrões, seja filme, diretor ou genero
    const lista = document.querySelector("#movies_list");
    const filtraveis = lista.querySelectorAll(".filtravel");

    const filtrar = () => {
        const item_movie = document.querySelectorAll(".item_movie");
        item_movie.forEach((item) => {
            item.style.display = "none";
        })

        let search = document.querySelector("#search_field").value.toLowerCase();

        filtraveis.forEach((filtravel) => {
            let name = filtravel.innerText.toLowerCase();
            if (name.includes(search)) {
                filtravel.parentNode.parentNode.parentNode.style.display = "flex";
            }
        });
    }

    const averages = document.querySelectorAll(".average");

    averages.forEach((average) => {
        let mediaNumber = Number(average.innerHTML);

        console.log(mediaNumber);

        if(mediaNumber === 5){
            average.style.color = "green"
        } else if(mediaNumber <= 3 ){
            average.style.color = "red"
        } else {
            average.style.color = "yellow"
        }
    })
</script>

{# templates/lucky/number.html.twig #}